<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gemini.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <Gemini.Properties.Settings>
            <setting name="SSHPort" serializeAs="String">
                <value>50022</value>
            </setting>
            <setting name="KeyFilePath" serializeAs="String">
                <value>C:\mingw\msys\1.0\etc\ssh\id_rsa</value>
            </setting>
            <setting name="CompressMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeInclude" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>--exclude cc/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RemoteUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="RemoteHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value>C:\test\</value>
            </setting>
            <setting name="RemotePath" serializeAs="String">
                <value>/usr/share/nginx/html</value>
            </setting>
            <setting name="IntervalSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RsyncPath" serializeAs="String">
                <value>C:\MinGW\msys\1.0\bin\rsync.exe</value>
            </setting>
            <setting name="NotifyMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Gemini.Properties.Settings>
    </applicationSettings>
</configuration>
